<nav class="open">
    <div class="sidebar">
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Expense Tracker</span>
        </div>

        <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                    <a href="/" class="nav-link">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="link">Dashboard</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/Transaction" class="nav-link">
                        <i class="bx bx-bar-chart-alt-2 icon"></i>
                        <span class="link">Transactions</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/Category" class="nav-link">
                        <i class="bx bx-folder-open icon"></i>
                        <span class="link">Categories</span>
                    </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                @* <li class="list">
                    <a href="#" class="nav-link">
                        <i class="bx bx-cog icon"></i>
                        <span class="link">Settings</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#" class="nav-link">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">Logout</span>
                    </a>
                </li> *@
                <li class="list">
                    <a href="https://github.com/EnniouarMohammed" target="_blank" class="nav-link">
                        <i class='bx bxl-github icon'></i>
                        <span class="link">GitHub</span>
                    </a>
                </li>
                <li class="list">
                    <a href="https://www.linkedin.com/in/EnniouarMohammed/" target="_blank" class="nav-link">
                        <i class='bx bxl-linkedin-square icon'></i>
                        <span class="link">LinkedIn</span>
                    </a>
                </li>
            </div>
        </div>
    </div>
</nav>